.horizontal-block {
  display: flex;
  vertical-align: top;
  overflow-y: scroll
}



.vertical-divider {
  background: #eeeeee;
  width: 150px;
  cursor: move;
  user-select: none;
}



.main-container {
  overflow: hidden;
  display: flex;
  /* position: absolute; */
}

#now-label {
  display: block;
  width: 12em;
  text-align: left;
}

.component-tree-container {
  user-select: none;
}


.detail-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detail-table td {
  vertical-align: middle;
  padding: 3px 15px;
}

.component-container {
  margin: 4px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  overflow: hidden;
  width: 100%;
}

.component-header {
  background-color: #444444;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.component-detail-container {
  padding: 1px 8px;
  /* display: inline-block; */
  user-select: none;
}

.detail-table {
  width: 100%;
  margin: 4px;
}

.field-value:empty {
  display: none;
}

.field-value {
  padding: 4px 6px;
}

.progress-bar-group {
  border-top: #dddddd solid 3px;
  padding: 4px;
}

.progress-complex {
  display: flex;
}